body {
    background-color: yellow;
}

#voltarpagina6 {
    text-align: center;
    background-color: red;
    font-size: 100px;
}

.paginainteira6 {
    text-align: center;
}

.amarelo {
    max-width: 720px;
    margin: 0 auto;
    padding: 100px;
}

.azul {
    background-color: blue;
    padding: 100px;
    margin: 20px;
}

.flex {
    display: flex;
}

.azul1 {
    background-color: blue;
    padding: 100px;
    margin: 20px;
    width: 50%;
}