body {
    background-color: red;
}

#voltarpagina4 {
    text-align: center;
    background-color: blue;
    font-size: 100px;
}

.paginainteira4 {
    text-align: center;
}

.vermelho {
    max-width: 720px;
    margin: 0 auto;
    padding: 100px;
}

.preto {
    background-color: black;
    padding: 100px;
    margin: 20px;
}

.flex {
    display: flex;
}

.alongar {
    padding-top: 300px;
}