body {
    background-color: yellow;
}

#voltarpagina7 {
    text-align: center;
    background-color: red;
    font-size: 100px;
}

.paginainteira7 {
    text-align: center;
}

.amarelo {
    max-width: 720px;
    margin: 0 auto;
    padding: 100px;
}

.azul {
    background-color: blue;
    padding: 100px;
    margin: 20px;
}

.flex {
    display: flex;
}

.alongar {
    padding-top: 300px;
}
.estica{
    max-width: 50%;
}