body {
    background-color: yellow;
}

#voltarpagina13 {
    text-align: center;
    background-color: blue;
    font-size: 100px;
}

.paginainteira13 {
    text-align: center;
}

.amarelo {
    max-width: 720px;
    margin: 0 auto;
    padding: 100px;
}

.azul {
    background-color: blue;
    padding: 100px;
    margin: 20px;
}

.flex {
    display: flex;
}

.alongar {
    padding-top: 300px;
}

.esticar {
    width: 50%
}